@import './styles//Home.scss';
@import './styles/Store.scss';

a {
    text-decoration: none;
}

.cursorPointer {
    cursor: pointer;
}

.button-1 {
    background-color: var(--color-transparent);
    color: var(--color-white);
    font-size: 14px;
    padding: 13px 23px;
    border-radius: 10px;
}

.button-2 {
    background-color: var(--color-transparent);
    color: var(--color-white);
    font-size: 8px;
    padding: 5px 12px;
    border-radius: 10px;
}

.section-heading {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

.filter-card {
    .form-check-input {
        background-color: var(--color-0019AB8);
    }

    .form-check-label{
        font-size: 13px;
        line-height: 30px;
        color: var(--color-464646);
    }
} 

.colors {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
        width: 20px;
        height: 20px;
        background-color: var(--color-0019AB8);
        border-radius: 50%;
    }
}

.image {
    width: 100%;
}

.random-products{
    h5 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    &:first-child {
        border-bottom: 1px solid var(--color-1A1A1A);
    }
}

.grid {
    width: 30px;
    height: 30px;
    background-color: var(--color-white);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card {
    background-color: var(--color-DEDEDE);
    padding: 0px;
    border-radius: 10px;
    box-shadow: var(--color-transparent) 0px 3px 8px;
    width: 100%;

    .product-image {
        img {
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    
        .product-details {
            padding: 5px;

            .brand {
                color: var(--color-FF3E3E);
                font-size: 13px;
            }

            .product-title {
                font-size: 15px;
                color: var(--color-464646);
            }

            .product-desc {
                font-size: 13px;
                color: var(--color-464646);
            }

            .price {
                font-size: 10px;
                margin-top: 5px;
            }
        }

        .action-bar {
            background-color: var(--color-rgb-0001);
            width: 10%;
            padding: 5px;
            border-top-right-radius: 10px;
            top: 0;
            right: 0;
            transition: 0.3s;
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: var(--color-1A1A1A);

                :hover {
                    color: var(--color-0019AB8);
                }
            }
        }  
    }
}

.gr-12 {
    width: 100%;
}

.gr-6 {
    width: 49%;
}

.gr-4 {
    width: 32%;
}

.gr-3 {
    width: 24%;
}

.gr-12 .product-card {
    display: flex;
    gap: 5px;
}